In [1]:
import pandas as pd

In [18]:
fname = "data/ev_sales/ev_data_preprocessed.csv"

df = pd.read_csv(fname)
df['ev_market_share'] = df['ev_market_share']*100
m = df[df['year'] == 2019][['State Name', 'ev_market_share']].sort_values(by='ev_market_share', ascending=False)
m.to_csv("output_files/Table_S8.csv", index=False)

In [16]:
df

,State,FCEV Sales,FCEV Market Share,BEV Sales,BEV Market Share,PHEV Sales,PHEV Market Share,year,State Name,state_code,EPA Region,ev_sales,ev_market_share,total,nonev_sales
0,Alabama,0,NaN,18,NaN,55,NaN,2011,Alabama,1,4.0,73,NaN,NaN,NaN
1,Alaska,0,NaN,2,NaN,4,NaN,2011,Alaska,2,10.0,6,NaN,NaN,NaN
2,Arizona,0,NaN,355,NaN,102,NaN,2011,Arizona,4,9.0,457,NaN,NaN,NaN
3,Arkansas,0,NaN,2,NaN,20,NaN,2011,Arkansas,5,6.0,22,NaN,NaN,NaN
4,California,19,NaN,5062,NaN,1656,NaN,2011,California,6,9.0,6737,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,Virginia,0,0.0,5677,0.0153,1337,0.0036,2019,Virginia,51,3.0,7014,1.89,371389.0,364375.0
455,Washington,0,0.0,10256,0.0359,1916,0.0067,2019,Washington,53,10.0,12172,4.26,285971.0,273799.0
456,West Virginia,0,0.0,179,0.0035,71,0.0014,2019,West Virginia,54,3.0,250,0.49,51143.0,50893.0
457,Wisconsin,0,0.0,1381,0.0057,581,0.0024,2019,Wisconsin,55,5.0,1962,0.81,242281.0,240319.0
458,Wyoming,0,0.0,100,0.0028,44,0.0012,2019,Wyoming,56,8.0,144,0.40,36667.0,36523.0

In [8]:
df[df['year'] == 2019][df['State Name'] == 'California']

C:\Users\harsh\AppData\Local\Temp\ipykernel_37972\3272082657.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['year'] == 2019][df['State Name'] == 'California']

,State,FCEV Sales,FCEV Market Share,BEV Sales,BEV Market Share,PHEV Sales,PHEV Market Share,year,State Name,state_code,EPA Region,ev_sales,ev_market_share,total,nonev_sales
412,California,1764,0.0009,100549,0.0516,44471,0.0228,2019,California,6,9.0,146784,7.53,1950483.0,1803699.0

In [9]:
0.0516+0.0228

0.0744